<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
  <script>
    let duplicateOk = false;
    let validatepassword = false;
    let samepassword = false;

    $(document).ready(function () {
      /*<![CDATA[*/
      var user = "[[${user}]]";
      /*]]>*/
      console.log(user);
      if (user !== "") {
        alert("이미 로그인이 되어있습니다");
        window.location.href = "/";
      }
    });

    function is_password(asValue) {
      var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{4,}$/;
      return regExp.test(asValue);
    }

    function validatePassword() {
      let username = $('#input-nickname').val();
      let password = $('#input-password').val();
      if (!is_password(password)) {
        $('.passwordvalidation').text(
            "비밀번호는 최소 4자 이상, 알파벳 대소문자(a~z, A~Z), 숫자(0~9)를 무조건 포함하고 특수문자도 쓸 수 있습니다");
        $('#input-password').focus();
      } else if (password.indexOf(username) !== -1) {
        $('.passwordvalidation').text("비밀번호는 닉네임과 동일한 값을 포함할 수 없습니다.");
        $('#input-password').focus();
      } else {
        $('.passwordvalidation').text("사용할 수 있는 비밀번호입니다.");
        validatepassword = true;
      }
    }

    function onclickAdmin() {
      // Get the checkbox
      var checkBox = document.getElementById("admin-check");
      // Get the output text
      var box = document.getElementById("admin-token");

      // If the checkbox is checked, display the output text
      if (checkBox.checked == true) {
        box.style.display = "block";
      } else {
        box.style.display = "none";
      }
    }

    function signUp() {
      let email = $('#input-email').val();
      console.log(email);
      let username = $('#input-username').val();
      console.log(username);
      let password = $('#input-password').val();
      console.log(password);
      let phoneNumber = $('#input-phoneNumber').val();
      console.log(phoneNumber);
      let nickname = $('#input-nickname').val();
      console.log(nickname);
      let region = $('#input-region').val();
      console.log(region);

      let data = {
        'email': email,
        'username': username,
        'password': password,
        'phoneNumber': phoneNumber,
        'nickname': nickname,
        'region': region,

      };
      $.ajax({
        type: "POST",
        url: "/users/signup",
        data: JSON.stringify(data),
        contentType: "application/json",
        success: function (response) {
          alert("회원가입 완료");
          // window.location.href = "/user/login";

        },
        error: function (result) {
          console.log(result["responseJSON"]);
          alert(result["responseJSON"].msg)
        },
      });

    }

  </script>
</head>

<body>
<div id="login-form">
  <div id="login-title">Sign up Select Shop</div>
  <div>
    <div class="login-id-label">이메일</div>
    <input type="text" name="email" placeholder="Email" class="login-input-box" id="input-email"
           th:value="${email}">

    <div class="login-id-label">유저 아이디</div>
    <input type="text" name="username" placeholder="username" class="login-input-box"
           id="input-username" th:value="${username}">


    <div class="login-id-label">비밀번호</div>
    <input type="password" name="password" class="login-input-box" id="input-password"
           onkeyup="validatePassword()">

    <div class="login-id-label">핸드폰 번호</div>
    <input type="text" name="phoneNumber" class="login-input-box" id="input-phoneNumber">


    <div class="login-id-label">닉네임</div>
    <input type="text" name="nickname" class="login-input-box" id="input-nickname">

    <div class="login-id-label">지역</div>
    <input type="text" name="region" class="login-input-box" id="input-region">


    <button id="login-id-submit" onclick="signUp()">회원 가입</button>
  </div>
</div>
</body>
</html>
